<?xml version="1.0"?>
<robot xmlns:xacro = "https://www.ros.org/wiki/xacro">
<!-- Front Left Tibia Friction -->
<gazebo reference="fl_tibia">
    <mu1>3.0</mu1>
    <mu2>3.0</mu2>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
</gazebo>

<!-- Front Right Tibia Friction -->
<gazebo reference="fr_tibia">
    <mu1>3.0</mu1>
    <mu2>3.0</mu2>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
</gazebo>

<!-- Back Left Tibia Friction -->
<gazebo reference="bl_tibia">
    <mu1>3.0</mu1>
    <mu2>3.0</mu2>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
</gazebo>

<!-- Back Right Tibia Friction -->
<gazebo reference="br_tibia">
    <mu1>3.0</mu1>
    <mu2>3.0</mu2>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
</gazebo>

</robot>