<?x l version="1.0"?>
<robot xmlns:xacro = "https://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin 
        filename="gz-sim-joint-position-controller-system" 
        name="gz::sim::systems::JointPositionController">
        <joint_name>fl_base_shoulder</joint_name> 
        </plugin>
    </gazebo>
    <gazebo>
        <plugin 
        filename="gz-sim-joint-position-controller-system" 
        name="gz::sim::systems::JointPositionController">
        <joint_name>fl_shoulder_femur</joint_name> 
        </plugin>
    </gazebo>
    <gazebo>
        <plugin 
        filename="gz-sim-joint-position-controller-system" 
        name="gz::sim::systems::JointPositionController">
        <joint_name>fl_femur_tibia</joint_name> 
        </plugin>
    </gazebo>
    <gazebo>
        <plugin 
        filename="gz-sim-joint-state-publisher-system" 
        name="gz::sim::systems::JointStatePublisher">
        <joint_name>fl_base_shoulder</joint_name> 
        <joint_name>fl_shoulder_femur</joint_name>
        <joint_name>fl_femur_tibia</joint_name>
        </plugin>
    </gazebo>



    <gazebo>
        <plugin 
        filename="gz-sim-joint-position-controller-system" 
        name="gz::sim::systems::JointPositionController">
        <joint_name>fr_base_shoulder</joint_name> 
        </plugin>
    </gazebo>
    <gazebo>
        <plugin 
        filename="gz-sim-joint-position-controller-system" 
        name="gz::sim::systems::JointPositionController">
        <joint_name>fr_shoulder_femur</joint_name> 
        </plugin>
    </gazebo>
    <gazebo>
        <plugin 
        filename="gz-sim-joint-position-controller-system" 
        name="gz::sim::systems::JointPositionController">
        <joint_name>fr_femur_tibia</joint_name> 
        </plugin>
    </gazebo>
    <gazebo>
        <plugin 
        filename="gz-sim-joint-state-publisher-system" 
        name="gz::sim::systems::JointStatePublisher">
        <joint_name>fr_base_shoulder</joint_name> 
        <joint_name>fr_shoulder_femur</joint_name>
        <joint_name>fr_femur_tibia</joint_name>
        </plugin>
    </gazebo>


    <gazebo>
        <plugin 
        filename="gz-sim-joint-position-controller-system" 
        name="gz::sim::systems::JointPositionController">
        <joint_name>bl_base_shoulder</joint_name> 
        </plugin>
    </gazebo>
    <gazebo>
        <plugin 
        filename="gz-sim-joint-position-controller-system" 
        name="gz::sim::systems::JointPositionController">
        <joint_name>bl_shoulder_femur</joint_name> 
        </plugin>
    </gazebo>
    <gazebo>
        <plugin 
        filename="gz-sim-joint-position-controller-system" 
        name="gz::sim::systems::JointPositionController">
        <joint_name>bl_femur_tibia</joint_name> 
        </plugin>
    </gazebo>
    <gazebo>
        <plugin 
        filename="gz-sim-joint-state-publisher-system" 
        name="gz::sim::systems::JointStatePublisher">
        <joint_name>bl_base_shoulder</joint_name> 
        <joint_name>bl_shoulder_femur</joint_name>
        <joint_name>bl_femur_tibia</joint_name>
        </plugin>
    </gazebo>



    <gazebo>
        <plugin 
        filename="gz-sim-joint-position-controller-system" 
        name="gz::sim::systems::JointPositionController">
        <joint_name>br_base_shoulder</joint_name> 
        </plugin>
    </gazebo>
    <gazebo>
        <plugin 
        filename="gz-sim-joint-position-controller-system" 
        name="gz::sim::systems::JointPositionController">
        <joint_name>br_shoulder_femur</joint_name> 
        </plugin>
    </gazebo>
    <gazebo>
        <plugin 
        filename="gz-sim-joint-position-controller-system" 
        name="gz::sim::systems::JointPositionController">
        <joint_name>br_femur_tibia</joint_name> 
        </plugin>
    </gazebo>
    <gazebo>
        <plugin 
        filename="gz-sim-joint-state-publisher-system" 
        name="gz::sim::systems::JointStatePublisher">
        <joint_name>br_base_shoulder</joint_name> 
        <joint_name>br_shoulder_femur</joint_name>
        <joint_name>br_femur_tibia</joint_name>
        </plugin>
    </gazebo> 

</robot>