<?xml version="1.0"?>
<robot
  name="my_robot_bringup" xmlns:xacro = "https://www.ros.org/wiki/xacro">

    <xacro:include filename="robo_desc.xacro" />
    <xacro:include filename="gazebo_plugins.xacro"/> 
    <xacro:include filename="ros2_control_plugins.xacro"/>
    <xacro:include filename="imu_sensor.xacro"/>


</robot>